.products-table {
  width: 100%;

  th {
    text-align: left;
    font-weight: 600;
  }

  th:last-child,
  td:last-child {
    text-align: right;
  }

  td {
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.sortable {
  cursor: pointer;

  &::after {
    font-size: 0.75rem;
    content: '▼';
    color: transparent;
    pointer-events: none;
  }

  &.is-desc::after {
    content: '▲';
  }

  &.is-asc::after,
  &.is-desc::after {
    color: inherit;
  }
}
