<table class="products-table">
  <tr>
    <th
      class="sortable"
      [class.is-asc]="sortBy?.key === 'name' && sortBy?.order === 'asc'"
      [class.is-desc]="sortBy?.key === 'name' && sortBy?.order === 'desc'"
      (click)="onClickSortBy('name')"
    >
      Name
    </th>
    <th
      class="sortable"
      [class.is-asc]="sortBy?.key === 'price' && sortBy?.order === 'asc'"
      [class.is-desc]="sortBy?.key === 'price' && sortBy?.order === 'desc'"
      (click)="onClickSortBy('price')"
    >
      Price
    </th>
  </tr>

  <tbody>
    @if (products.length === 0) {
      <tr data-test-id="no-product">
        <td colspan="2">
          No products
        </td>
      </tr>
    }

    @for (product of products; track product) {
      <tr data-test-id="product">
        <td data-test-id="name">{{ product.name }}</td>
        <td data-test-id="price">{{ product.price | currency }}</td>
      </tr>
    }
  </tbody>
</table>
