<main class="wrapper">
  <div class="header">
    <h3 class="heading">Products</h3>

    <form
      class="form"
      [formGroup]="formGroup"
    >
      <input
        class="search"
        formControlName="term"
        placeholder="Filter..."
      />
    </form>
  </div>

  @if (vm$ | async; as vm) {
    <app-product-list
      [products]="vm.products | productsSearch:vm.searchTerm | productsSort:vm.sortBy"
      [sortBy]="vm.sortBy"
      (sortByEvent)="onClickSort($event)"
    />
  }
</main>
